@import url('https://fonts.googleapis.com/css2?family=Lora&family=Vollkorn&family=Libre+Baskerville&family=Fira+Code:wght@300;400&family=Anonymous+Pro&family=Noto+Sans&family=Playfair+Display&family=Abril+Fatface&family=Nixie+One&family=Poiret+One&family=Gruppo&family=Inconsolata:wght@200&display=swap');

html, body {
  height: 100%;
}

body {
  margin: auto;
}

.headers {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
  color: #000000;
}

.headers-content {
  max-width: 70%;
  margin: auto;
}

.headers-left {
  float: left;
  height: 80px;
  position: relative;
  /* border: 1px solid blue; */
}

.headers-left .title {
  font-family: "Playfair Display", "Palatino", serif;
  /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Nixie One', cursive; */
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Gruppo', cursive; */
  /* font-family: 'Inconsolata', monospace; */
  font-size: 42px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 80px;
  color: #000000;
  /* border: 1px solid cyan; */
}

.headers-right {
  float: right;
  /* line-height: 80px; */
  font-family: 'Noto Sans', sans-serif;
  padding-top: 20px;
}

.links-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.link:hover {
}

.headers-right a {
  transition: .3s ease;
  color: #669499;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 16px;
  padding-bottom: 18px;
}

.headers-right a:hover {
  border-bottom: 5px solid #669499;
}

.content {
  max-width: 70%;
  height: 100%;
  margin: auto;
}

.spacer {
  height: 100px;
}

.main-container {
  position: relative;
  min-height: 250px;
  height: 100%
  overflow: visible;
  /* border: 5px solid green; */
}

.grid-container {
  display: grid;
  grid-template-columns:  auto auto;
  grid-column-gap: 60px;
}

.grid-item {
}

.img-container {
  max-width: 240px;
  height: 240px;
  overflow: hidden;
  border: 1px #669499;
  border-style: ridge;
  border-radius: 50%;
  position: relative;
  top: 65px;
}

.profile-pic {
  opacity: 1;
  display: block;
  width: 100%;
  width: 240px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-text-container {
  transition: .8s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  /* top: 50%; */
  /* left: -50%; */
  transform: translate(0, -100%);
  /* -ms-transform: translate(-50%, -50%) */
  text-align: center;
}

.image-contaner:hover .profile-pic {
  opacity: 0.3;
}

.image-container:hover .img-text-container {
  opacity: .9;
}

.img-text {
  /* background-color: #1188aa; */
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.main-content {
  position: relative;
  /* top: 20px; */
}

.main-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 400;
}

.intro div {
  /* border: 1px solid yellow; */
  /* position: relative;
  top: 60px; */
}

.main-content .intro {
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Vollkorn', serif; */
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 400;
}

.main-content a {
  transition: .7;
  color: #669499;
  text-decoration: none;
}

.main-content a:hover {
  color: #669499;
  text-decoration: underline;
}

.sign-off {
  position: absolute;
  bottom: 48px;
  width: 70%;
  margin: auto;
  text-align: center;
  font-style: oblique;
  color: #555555;
  line-height: 10px;
  background-color: white;
  opacity: .9;
}

.footer-container {
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #f1f1f1;
  position: absolute;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
  z-index: 1;
}

.footer {
  position: relative;
  padding: 10px;
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  font-size: 13px;
  max-width: 70%;
  margin: auto;
}

.footer .credits {
  float: left;
}

.footer .social {
  float: right;
}

.footer a {
  transition: 3s ease;
  text-decoration: none;
  color: #669499;
}

.footer a:hover {
  transition: 3s ease;
  text-decoration: underline;
  text-transform: capitalize;
}
