@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Lora&family=Vollkorn&family=Libre+Baskerville&family=Fira+Code:wght@300;400&family=Anonymous+Pro&family=Noto+Sans&family=Playfair+Display&family=Abril+Fatface&family=Nixie+One&family=Poiret+One&family=Gruppo&family=Inconsolata:wght@200&display=swap');

html, body {
  height: 100%;
}

body {
  margin: auto;
}

body a {
   color: var(--green);
   text-decoration: none;
   font-family: var(--font-sans-serif);
 }

.border {
  border: 1px solid red;
}

.unsupported {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
  z-index: 1;
  visibility: hidden;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .unsupported {
   visibility: visible;
  }
}

.headers {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3);
}

.headers-content {
  margin: auto;
}

.headers-left {
  height: 80px;
  position: relative;
}

.headers-left .title {
  font-size: 42px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 80px;
}

.headers-right a {
  /* transition: .4s ease; */
  /* border: 1px solid var(--dark); */
  padding: 4px 18px 4px 18px;
  border-radius: 14px;
}

.headers-right a:hover {
  box-shadow: 0 0 25px var(--green);
  background-color: var(--green);
  color: var(--dark);
  opacity: .9;
}

.spacer {
  height: 100px;
}

.main-container {
  min-height: 250px;
  overflow: visible;
  /* border: 5px solid green; */
}

.img-container {
  max-width: 240px;
  max-height: 240px;
  overflow: hidden;
  border: 1px #669499;
  border-style: ridge;
  border-radius: 50%;
  position: relative;
  top: 65px;
}

.profile-pic {
  opacity: .9;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-text-container {
  transition: .8s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  /* top: 50%; */
  /* left: -50%; */
  transform: translate(0, -100%);
  /* -ms-transform: translate(-50%, -50%) */
  text-align: center;
}

.image-contaner:hover .profile-pic {
  opacity: 0.3;
}

.image-container:hover .img-text-container {
  opacity: .9;
}

.img-text {
  /* background-color: #1188aa; */
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.main-content {
  position: relative;
}

.main-content a {
  color: #4d8c6f;
}

.main-content h1 {
  font-size: 72px;
  font-weight: 400;
}

.intro div {
  /* border: 1px solid yellow; */
  /* position: relative;
  top: 60px; */
}

.main-content .intro {
  font-size: 18px;
  font-weight: 400;
}

.main-content a:hover {
  text-decoration: underline;
}

.sign-off {
  position: absolute;
  bottom: 48px;
  width: 70%;
  margin: auto;
  text-align: center;
  font-style: oblique;
  color: #555555;
  line-height: 10px;
  background-color: white;
  opacity: .9;
}

.footer-container {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #f1f1f1;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
  z-index: 1;
}

.footer {
  position: relative;
  /* padding: 10px;
  font-weight: 300;
  font-size: 16px;

  margin: auto; */
}

.footer .credits {
  /* float: left; */
  font-size: 16px;
}

.footer a {
  color: var(--green);
  font-weight: 500;
  text-decoration: none;
}

.social span {
  transition: 1s ease;
  padding-left: 2px;
  padding-right: 2px;
}

.social span:hover {
  padding-left: 8px;
  padding-right: 8px;
  /* border-bottom: 1px solid var(--dark); */
}

.footer a:hover {
  /* color: var(--green); */
  text-transform: capitalize;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
  position: relative;
  /* top: -2px; */
}
